<h2>Подготовка данных для поля</h2>
<h4>Table1ItemController.php</h4>
<pre>
...
use App\Http\Controllers\Table2\Table2SelectController;
...
protected function defineChildren()
{
	...
	$this->scene_children->put('tab_le2_select_scene', new Table2SelectController($this));
	...
}
...
</pre>
<br>

<h2>Обработка поля и окна выбора</h2>
<h4>tab_le1_item_code.blade.php</h4>
<pre>

...
init : function() {
	...
	thisScene.getElement('[id="btn_select_tab_le1_tab_le2_id"]').click( { thisScene: this }, thisScene.btnSelectTable1Table2Id_Click );
	...
},
...

/* select fields */

btnSelectTable1Table2Id_Click : function(e) {
	var thisScene = e.data.thisScene;
	thisScene.defaultSelect_Click(e, '{{ $scene_children->get("tab_le2_select_scene")->sceneId() }}');
},

...
</pre>
<br>

<h2>Окно выбора</h2>
<h4>tab_le1_content.blade.php</h4>
<pre>
{!! FastDevCtrl::modal('select-form')->isStatic()->size('fs')->open() !!}
	@include('fastdev::scene_content', $scene_children->get('tab_le2_select_scene')->sceneArray())
{!! FastDevCtrl::modal('select-form')->close() !!}
</pre>
<br>

<h2>Поле выбора</h2>
<h4>tab_le1_content.blade.php</h4>
<pre>
{!! FastDevCtrl::textField('tab_le2_id', $item)
	->visibleValue(\App\ORM\Table2::idToString(($item->tabLe2) ? $item->tabLe2->id : null ))
	->hasClearButton()
	->hasSelectButton()
	->out()
!!}
</pre>
<br>
