<style>
	b {
		color: #bb0000;
	}
</style>
<h2>Флажок</h2>
@verbatim
<h4>view.blade.php</h4>
<pre>
	{!! FastDevCtrl::checkbox('<b>field_name</b>', $item)->extClass('label-top-space')->out() !!}
</pre>
<h4>Controller.php</h4>
<pre>
	...
	protected function itemFromInput($request)
	{
		...
		$item_input['<b>field_name</b>'] = $this->handleRequestBoolean($itemClass.'.<b>field_name</b>', false, $request);
		...
	}
	...
</pre>
@endverbatim
<br>

<h2>Поле с кнопкой очистки</h2>
@verbatim
<h4>view_content.blade.php</h4>
<pre>
	...
	{!! FastDevCtrl::textField('<b>field_name</b>', $item)->hasClearButton()->out() !!}
	...
</pre>
<h4>view.blade.php</h4>
<pre>
	...
	/* clear text field */
	
	btnClearField_Click : function(e) {
		var thisScene = e.data.thisScene;
		
		var field_id = $(this).attr('field-id')
		var hidden_field_id = $(this).attr('hidden-field-id')
		var field = thisScene.getElement('#'+field_id);
		var hidden_field = thisScene.getElement('#'+hidden_field_id);
		
		field.val('');
		hidden_field.val('');
		return false;
	},
	...
	thisScene.getElement('[id^="btn_clear_"]').click( { thisScene: this }, thisScene.btnClearField_Click );
</pre>

@endverbatim
<br>


<h2>Группа флажков (для Many-To-Many)</h2>
@verbatim
<h4>ORM\Model.php</h4>
<pre>
	public function <b>relatedItemsIds</b>()
	{
		$retaled_table = $this-><b>relatedItems()</b>->getRelated()->getTable();
		return $this-><b>relatedItemsIds()</b>->select($retaled_table.'.id')->pluck('id')->all();
	}
</pre>
<h4>view.blade.php</h4>
<pre>
	{!! FastDevCtrl::checkboxList('<b>related_items</b>', $item)
		->options(FastDevCtrl::collectionMap(\App\ORM\<b>RelatedORM</b>::all(), []))
		->values($item-><b>relatedItemsIds()</b>)
		->out() 
	!!}
</pre>
<h4>Controller.php</h4>
<pre>
	...
	<b>$tmp_related_items</b> = array_values( Arr::get($item_input, '<b>related_items</b>', []) );
	unset($item_input['<b>related_items</b>']);
	...
	<b>PivotORM</b>::where('<b>this_id</b>', '=', $item->id)->delete();
	foreach (<b>$tmp_related_items</b> as $related_id) {
		$item-><b>relatedItems()</b>->attach($related_id);
	}
	...
</pre>
@endverbatim
<br>

<h2>Радио-кнопки</h2>
@verbatim
<h4>view.blade.php</h4>
<pre>
	{!! FastDevCtrl::radioButtonList('<b>field_name</b>', $item)
		->options(FastDevCtrl::collectionMap(App\ORM\<b>RelatedORM</b>::all(), []))
		->out()
	!!}
</pre>
@endverbatim
<br>

<h2>Радио-кнопка Да/Нет</h2>
@verbatim
<h4>view.blade.php</h4>
<pre>
	{!! FastDevCtrl::radioButtonList('<b>field_name</b>', $item)->options([0 => __('util.no'), 1 => __('util.yes')])->isJustified()->out() !!}
</pre>
@endverbatim
<br>

<h2>Фильтр "Да/Нет"</h2>
@verbatim
<h4>view.blade.php</h4>
<pre>
	{!! FastDevCtrl::selectField('filter[<b>field_name</b>]')
		->label($model::getAlias('<b>field_name</b>'))
		->value($filter['<b>field_name</b>'])
		->emptyText('<Все>')
		->options(['0' => 'Нет', '1' => 'Да',])
		->out() 
	!!}
</pre>
@endverbatim
<br>

<h2>Сложный фильтр в заголовке</h2>
@verbatim
<h4>view_content.blade.php</h4>
<pre>
	{!! FastDevCtrl::popoverLink('<b>field_name</b>', $model, $ordering, $filter)->open() !!}
		&lt;h4&gt;Сортировка&lt;/h4&gt;				
		{!! FastDevCtrl::radioButtonList('ordering[<b>field_name</b>]')
			->extClass('sortable')
			->value($ordering['<b>field_name</b>'])
			->options([
				'asc' => '&lt;span class="glyphicon glyphicon-sort-by-attributes">&lt;/span&gt;', 
				'desc' => '&lt;span class="glyphicon glyphicon-sort-by-attributes-alt">&lt;/span&gt;', 
			])
			->size('sm')
			->out()
		!!}
		&lt;h4>{{ $model->getAlias('<b>field_name</b>') }}&lt;/h4&gt;
		
		<b>/* *** Флажки *** */</b>
		{!! FastDevCtrl::checkboxList('filter[<b>field_name</b>]')
			->options(FastDevCtrl::collectionMap(\App\ORM\JcPropertyType::all(), []))
			->values($filter['<b>field_name</b>'])
			->out() 
		!!}
		
		<b>/* *** Текстовое поле*** */</b>
		{!! FastDevCtrl::textField('filter[<b>field_name</b>]')->value($filter['<b>field_name</b>'])->hasClearButton()->out() !!}
		
		&lt;div class="btn-group btn-group-sm block"&gt;
			{!! FastDevCtrl::buttonGroup('taskbar')->size('sm')->open() !!}
				{!! FastDevCtrl::button('btn-filter-apply')->title('Применить')->iconBefore('glyphicon glyphicon-ok')->out() !!}
				{!! FastDevCtrl::button('btn-filter-hide')->title('Отмена')->iconBefore('glyphicon glyphicon-ban-circle')->out() !!}
			{!! FastDevCtrl::buttonGroup('taskbar')->close() !!}
		&lt;/div&gt;
	{!! FastDevCtrl::popoverLink('<b>field_name</b>')->close() !!}
</pre>
<h4>view.blade.php</h4>
<pre>
	...
	/* header popover */
		
	hidePopover : function(popover_el) {
		popover_el.popover('hide');
		/* fix twice click - core bug */
		$('body').on('hidden.bs.popover', function (e) {
			$(e.target).data("bs.popover").inState = { click: false, hover: false, focus: false }
		});
	},

	popoverBtnClearField_Click : function(e) {
		var thisScene = e.data.thisScene;
		
		var field_id = $(this).attr('field-id')
		var hidden_field_id = $(this).attr('hidden-field-id')
		var field = $(this).closest('.popover-content').find('[id="'+field_id+'"]');
		var hidden_field = $(this).closest('.popover-content').find('[id="'+hidden_field_id+'"]')
		
		field.val('');
		hidden_field.val('');
		return false;
	},
	
	popoverSortable_Click : function(e) {
		var thisScene = e.data.thisScene;
		
		var data_field = $(this).closest('.popover-content').attr('data-field');
		var data_direction = $(this).find(':radio').val();
		data_direction = ( (data_direction == null || data_direction == 'asc') ? 'asc' : 'desc' );
		
		var data = { ajax: true, fields: {}, };
		data.fields['ordering[' + data_field + ']'] = data_direction;

		var popover_el = thisScene.getElement('[data-field="'+data_field+'"][rel="popover"]');
		thisScene.hidePopover(popover_el);
		
		thisScene.sceneRefresh(data);
		return false;
	},

	popoverFilterApply_Click : function(e) {
		var thisScene = e.data.thisScene;
		
		var data_field = $(this).closest('.popover-content').attr('data-field');
		
		var val = [];
		var popover_el = $(this).closest('.popover');

		popover_el.find('input[type="checkbox"]').each(function() {
			if ($(this).is(":checked")) {
				val.push($(this).val());
			}
		}, val);
		
		popover_el.find('input[type="text"]').each(function() {
			val = $(this).val();
		}, val);
		
		var fields_val = {};
		fields_val['filter['+data_field+']'] = (val.length > 0 ? val : '');
		
		var data = {task: 'refresh', fields: fields_val, ajax: true, };
		
		var popover_link = thisScene.getElement('[data-field="'+data_field+'"][rel="popover"]');
		thisScene.hidePopover(popover_link);
		
		thisScene.sceneRefresh(data);
					
		return false;
	},
	
	popoverFilterHide_Click : function(e) {
		var thisScene = e.data.thisScene;

		var data_field = $(this).closest('.popover-content').attr('data-field');
		var popover_icon = thisScene.getElement('[data-field="'+data_field+'"][rel="popover"]');
		thisScene.hidePopover(popover_el);
		return false;
	},
	...
	thisScene.getElement('.list-hdr .popover-content .sortable label').click( { thisScene: this }, thisScene.popoverSortable_Click );
	thisScene.getElement('.list-hdr .popover-content [id="btn_filter_apply"]').click( { thisScene: this }, thisScene.popoverFilterApply_Click );
	thisScene.getElement('.list-hdr .popover-content [id="btn_filter_hide"]').click( { thisScene: this }, thisScene.popoverFilterHide_Click );
	thisScene.getElement('.list-hdr .popover-content [id^="btn_clear_"]').click( { thisScene: this }, thisScene.popoverBtnClearField_Click );
	...
</pre>
<h4>ORM\Model.php</h4>
<pre>

	<b>/* Если в фильтре ФЛАЖКИ, а не простой текст */</b>
	
	public static function getFilterFields()
	{
		return [ '<b>field_name</b>' => [], ... 
	}
	
	...
	
	$tmp = Arr::get($filter_data, '<b>field_name</b>', []);
	if ($tmp !== []) {
		$query = $query->whereIn('<b>field_name</b>', $tmp);
	}
	
</pre>
@endverbatim
<br>

<h2>Поле выбора даты (времени)</h2>
@verbatim
<h4>view_content.blade.php</h4>
<pre>
	{!! FastDevCtrl::textField('<b>field_name</b>', $item)
		->value(FastDevHlpr::dateFormat($item-><b>field_name</b>, 'DMY'))
		->iconAfter('glyphicon glyphicon-calendar')
		->out()
	!!}
	// с выбором времени
		...
		->value(FastDevHlpr::dateFormat($item-><b>field_name</b>, 'DMYT'))
		->iconAfter('glyphicon glyphicon-time')
		...
</pre>
<h4>view.blade.php</h4>
<pre>
	thisScene.getElement('[id="<b>full_field_id</b>"]').closest('.input-group').datetimepicker(stage.calendar_d_format);
	// с выбором времени
	// thisScene.getElement('[id="<b>full_field_id</b>"]').closest('.input-group').datetimepicker(stage.calendar_t_format);
</pre>
<h4>Controller.php</h4>
<pre>
	$item_input['<b>field_name</b>'] = ($item_input['<b>field_name</b>']) ? Carbon::createFromFormat('d.m.Y', $item_input['<b>field_name</b>'])->format('Y-m-d') : null;
	// с выбором времени
	// $item_input['<b>field_name</b>'] = ($item_input['<b>field_name</b>']) ? Carbon::createFromFormat('d.m.Y H:i:s', $item_input['<b>field_name</b>'])->format('Y-m-d H:i:s') : null;
</pre>
@endverbatim
<br>

<h2>Tiny MCE</h2>
@verbatim
<h4>view_content.blade.php</h4>
<pre>
	...
	@include('scene::content', $scene->childGet('file_storage-combined_select')->sceneVariables())
	...
	{!! FastDevCtrl::textArea('<b>field_name</b>', $item)->open() !!}{!! $item-><b>field_name</b> !!}{!! FastDevCtrl::textArea('<b>field_name</b>', $item)->close() !!}
	...
</pre>
<h4>view_code.blade.php</h4>
<pre>
	&lt;script type="text/javascript" src="{{ asset('/js/tinymce/tinymce.min.js') }}">&lt;/script>
	
	init : function() {
		...
		thisScene.initTinyMCE('[id="<b>full_field_id</b>"]');
		...
	},
	
	...
	
	initTinyMCE : function(area_selector) {
		tinymce.remove();
		tinymce.init({
			selector : area_selector,
			content_style : ".img-half-width { max-width: 100%; } @media (min-width: 768px) { .img-half-width { max-width: 50%; } } .img-center { margin-left: auto; margin-right: auto; } ",
			language: 'ru',
			plugins : ['advlist autolink lists link image charmap print preview anchor', 'searchreplace visualblocks codesample code fullscreen', 'insertdatetime media table contextmenu paste'],
			toolbar : 'insertfile undo redo | styleselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image codesample | code',
			height : 300,
			relative_urls: false,
			file_browser_callback: function(field_name, url, type, win) {
				if (type == 'image') {
					var field_el = $(win.document.getElementById(field_name));
					field_el.closest('[role="dialog"]').css('z-index', 999);
					$('#mce-modal-block').css('z-index', 998);
					DecideNowObjects.stage.getScene('{{ $scene->sceneId() }}').selectTinyMCEImage(field_name);
				}
			},
			image_class_list: [
				{ title: 'Standard', value: '' },
				{ title: 'Responsive', value: 'img-responsive' },
				{ title: 'Responsive + Cener', value: 'img-responsive img-center' },
				{ title: 'Half-width', value: 'img-responsive img-half-width' },
				{ title: 'Half-width + Cener', value: 'img-responsive img-half-width img-center' },
			],
			document_base_url: '{{ env("APP_URL") }}',
			relative_urls : true,
			remove_script_host : false,
			branding: false,
		});
	},

	selectTinyMCEImage : function(field_name) {
		var selectScene = DecideNowObjects.stage.getScene('{{ $scene->childGet("file_storage-combined_select")->sceneId() }}');
		selectScene.modalShow({ fields: { call_button_id: field_name, }, ajax: true, });
	},
	
	// Для передачи на сервер (btnOkItem_Click..., btnSaveItem_Click...)
	...
		var edt = tinymce.get('<b>full_field_id</b>');
		data.form['<b>model</b>[f_<b>field_id</b>]'] = edt.getContent();
		...
		thisScene.sceneRefresh(data);
		...
	...
	
</pre>

<h4>Controller.php</h4>
<pre>
	protected function itemFromInput($request)
	{
		...
		$item_input['<b>field_name</b>'] = $item_input['f_<b>field_name</b>'];
		...
	}
</pre>

<h4>ItemController.php</h4>
<pre>
	...
	use App\Http\Controllers\FileStorage\FileStorageCombinedSelectController;
	...
	protected function defineChildren()
	{
		...
		$this->childAdd(new FileStorageCombinedSelectController($this), 'file_storage-combined_select');
		...
	}
</pre>

<h4>layout.css</h4>
<pre>
.mce-panel {
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
}
img.centered {
	margin: 0 auto;
}
img.vw50 {
	width: 50vw;
}
</pre>

@endverbatim
<br>

<h2>Выпадающий список для сортировки</h2>
@verbatim
<h4>ORM\Model.php</h4>
<pre>
	...
	/* ordering select field */
	
	public static function getOrderingOptions()
	{
		$ret = ['none' => '<Без сортировки>'];
		foreach (static::getOrderingFields() as $key => $value) {
			$ret[$key] = static::getAlias($key);
		}
		return $ret;
	}
	public static function getOrderingKey($ordering)
	{
		$ret = '';
		foreach ($ordering as $key => $value) {
			if ($value) {
				$ret = $key;
			}
		}
		return ($ret == '') ? 'none' : $ret;
	}
	public static function getOrderingValue($ordering)
	{
		$ret = '';
		foreach ($ordering as $key => $value) {
			if ($value) {
				$ret = $value;
			}
		}
		return ($ret == '') ? 'asc' : $ret;
	}
	public static function getOrderingIcon($ordering)
	{
		$ret = '';
		$value = static::getOrderingValue($ordering);
		if ($value == 'asc') $ret = 'glyphicon glyphicon-sort-by-attributes';
		if ($value == 'desc') $ret =  'glyphicon glyphicon-sort-by-attributes-alt';
		return $ret;
	}
	public static function getOrderingTitle($ordering)
	{
		$ret = '';
		$value = static::getOrderingValue($ordering);
		if ($value == 'asc') $ret = 'По возрастанию';
		if ($value == 'desc') $ret =  'По убыванию';
		$ret .= ' (изменить)';
		return $ret;
	}
	...
</pre>
<h4>view_code.blade.php</h4>
<pre>
	init : function(e) {
		...
		thisScene.getElement('[data-role="sortable-select"]').change( { thisScene: this }, thisScene.selectSortable_Change );
		thisScene.getElement('[data-role="sortable-toggle"]').click( { thisScene: this }, thisScene.btnSortableToggle_Click );
		...
	},
	...
	selectSortable_Change : function(e) {
		var thisScene = e.data.thisScene;
		
		var data_field = $(this).find('option:selected').val();
		var data_direction = $(this).attr('data-direction');
		if (data_direction == null) {
			data_direction = 'asc';
		}
		
		var data = { ajax: true, fields: {}, };
		data.fields['ordering[' + data_field + ']'] = data_direction;
		
		thisScene.sceneRefresh(data);
		return false;
	},

	btnSortableToggle_Click : function(e) {
		var thisScene = e.data.thisScene;
		
		var data_field = $(this).closest('.input-group').find('[data-role="sortable-select"] option:selected').val();
		var data_direction = $(this).attr('data-direction');
		data_direction = ( (data_direction == null || data_direction == 'desc') ? 'asc' : 'desc' );
		
		var data = { ajax: true, fields: {}, };
		data.fields['ordering[' + data_field + ']'] = data_direction;
		
		thisScene.sceneRefresh(data);
		return false;
	},
	...
</pre>
<h4>view_content.blase.php</h4>
<pre>
	...
	{!! FastDevCtrl::selectField('select-ordering')
		->value($model::getOrderingKey($ordering))
		->options($model::getOrderingOptions())
		->buttonBefore(
			$model::getOrderingIcon($ordering), 
			'toggle', 
			$model::getOrderingTitle($ordering),
			['direction' => $model::getOrderingValue($ordering), 'role' => 'sortable-toggle']
		)
		->attr('data-direction', $model::getOrderingValue($ordering))
		->attr('data-role', 'sortable-select')
		->size('sm')
		->out()
	!!}
	...
</pre>
@endverbatim
<br>

<h2>Сворачиваемая панель</h2>
@verbatim
<h4>view.blade.php</h4>
<pre>
	&lt;div class="panel panel-default">
		&lt;div class="panel-heading" data-toggle="collapse" data-target="#test-panel" aria-expanded="<b>false</b>">
			&lt;h3 class="panel-title">Заголовок панели&lt;/h3>
		&lt;/div>
		&lt;div class="panel-body collapse" id="test-panel">
			&lt;h3>Содержимое панели&lt;/h3>
			&lt;p>Съешь же ещё этих мягких французских булок, да выпей чаю.&lt;/p>
		&lt;/div>
	&lt;/div>
</pre>
<i>
	Развернутая:<br>
	... aria-expanded="<b>true</b>"<br>
	... panel-body collapse <b>in</b><br>
</i>
<h4>layout.css</h4>
<pre>
	.panel-heading[data-toggle="collapse"] .panel-title {
		cursor: pointer;
	}
	.panel-heading[data-toggle="collapse"] .panel-title:after {
		font-family: 'Glyphicons Halflings';
		content: "\e079";
		float: right;
		padding-left: 1em;
	}
	.panel-heading[data-toggle="collapse"][aria-expanded="true"] .panel-title:after {
		content: "\e114";
	}
</pre>
@endverbatim
<br>

<h2>Дерево</h2>
@verbatim
<h4>Model.php</h4>
<pre>
	...
	use Treeable;
	...
</pre>

<h4>ModelItemController.php</h4>
<pre>
	...
	protected function defineChildren()
	{
		...
		$parent_select_scene = new <b>Model</b>SelectController($this);
		$this->scene_children->put('parent_select_scene', $parent_select_scene);
		...
	}
	...
</pre>
<h4>ModelListController.php</h4>
<pre>
	private function paginateTree(Collection $collection, $perPage = 20)
	{
		$currentPage = $this->page;
		$currentPath = LengthAwarePaginator::resolveCurrentPath();
		$currentPageItems = $collection->slice(($currentPage - 1) * $perPage, $perPage);
		$paginetedItems = new LengthAwarePaginator($currentPageItems, count($collection), $perPage, $currentPage);
		$paginetedItems->setPath($currentPath);
		return $paginetedItems;
	}
	
	...
	
	public function prepareContent(Request $request)
	{
		...
		$filtered_data = $model::applySessionFilter($list_data, $this->filter);
		$filtered_ids = $filtered_data->get()->pluck('id')->all();
		
		$list_data = $model::getTree($list_data);
		
		foreach ($list_data as $list_item) {
			if (!in_array($list_item->id, $filtered_ids)) {
				$list_data->forget($list_item->id);
			}
		}
		
		$this->list = $this->paginateTree($list_data);
		...
	}
</pre>
<h4>model-list_content.blade.php</h4>
<pre>
	{-- перед выводом наименования --}
	{!! $item->tree_level_string !!}
</pre>

<h4>model-item_content.blade.php</h4>
<pre>
	...
	{!! FastDevCtrl::modal('select-form')->title('Выбор: '.\App\ORM\<b>Model</b>::getAlias('record_name'))->isStatic()->size('fs')->open() !!}
		@include('fastdev::scene_content', $scene_children->get('parent_select_scene')->sceneArray())
	{!! FastDevCtrl::modal('select-form')->close() !!}
	...
	{!! FastDevCtrl::textField('parent_id', $item)
		->visibleValue(\App\ORM\<b>Model</b>::idToString(($item->parent) ? $item->parent->id : null ))
		->hasClearButton()
		->hasSelectButton()
		->out()
	!!}
	...
</pre>

<h4>model-item_code.blade.php</h4>
<pre>
	...
	init : function() {
		...
		thisScene.getElement('[id="btn_select_<b>model</b>_parent_id"]').click( { thisScene: this }, thisScene.btnSelect<b>Model</b>ParentId_Click );
		...
	},
	...
	
	/* select fields */
	
	btnSelectOtherSomeId_Click : function(e) {
		var thisScene = e.data.thisScene;
		thisScene.defaultSelect_Click(e, '{{ $scene_children->get("parent_select_scene")->sceneId() }}');
	},
	
	...
	
</pre>

@endverbatim
<br>

<h2>Произвольное сообщение об ошибке</h2>
@verbatim
<h4>Controller.php</h4>
<pre>
	$this->customValidationException($message);
</pre>
@endverbatim
<br>